.sidebar_top {
    margin-top: 60px;
}

.input{
    border: 1px solid #b1b1b136;
    transition: border .2s ease;
    /*border-[1.5px] border-green-500/90*/
}

.input:focus{
    @apply border-green-500/90;
}


.as{

}


.btn{

}
.link{
    @apply hover:text-blue-600 hover:underline
}

.btn-disable{
    @apply !bg-neutral-200 !text-neutral-400 pointer-events-none;
}